@charset "ISO-8859-1";
 body {
	background: url(/img/sfondo-dettaglio2.jpg) no-repeat;
	background-color: rgba(0, 0, 0, 0.5);
    font-family: monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    color: #4f6883ea;
    margin-bottom: 10px;
}

p {
    font-size: large;
    color: #4a4848;
    margin-bottom: 5px;
}

h2 {
   color: #4f6883ea;
   margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #83c8f065;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: rgba(10, 11, 14, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.portrait-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.portrait-box,
.details-box {
    width: 50%; /* Impostato a metà della larghezza del contenitore */
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin-bottom: 20px;
    height: 500px; /* Altezza fissa per entrambi i box */
    box-sizing: border-box; /* Assicura che il padding non influenzi le dimensioni totali */
    overflow: hidden; /* Impedisce il protrarsi di contenuti che superano le dimensioni */
}

.details-box {
	text-align: left;
}

ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #000;
    cursor: pointer;
}

ul li {
    margin-left: 20px; /* Sposta il "puntino" della lista a destra */
    margin-bottom: 5px; /* Aggiunge spazio tra gli elementi della lista */
    
}

ul li a {
    color: #000; /*Imposta il colore del testo dei link a nero*/
    text-decoration: none; 
}

.button {
    background-color: #4a84ba;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    align-self: flex-end;
    font-family: monospace;
}

.button:hover {
    background-color: #356094;
}



.fotoritratto img {
    max-width: 100%; 
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: contain; /* Imposta l'immagine per adattarsi proporzionalmente al contenitore mantenendo l'aspetto */
}

.bottom-section {
    margin-top: 20px;
    align-self: flex-end; 
}

.full-image {
   	max-width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin-bottom: 20px;
}

