@charset "ISO-8859-1";
body {
	background: url(/img/sfondo2.jpg) no-repeat;
	background-color: rgba(0, 0, 0, 0.9);
    font-family: monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    color: #4f6883ea;
    margin-bottom: 10px;
}

p {
    font-size: large;
    color: #4a4848;
    margin-bottom: 5px;
}

h2 {
   color: #4f6883ea;
   margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: rgba(10, 11, 14, 0.79);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid rgba(135, 136, 136, 0.526);
}

.left-right-box {
	display:flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.left-box,
.right-box {	
   	width: 500px;
   	height: 500px; 
    padding: 20px;
    text-align: left;
    background-color: rgba(237, 233, 233, 0.9);
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box; /* Assicura che il padding non influenzi le dimensioni totali */
    overflow: hidden; /* Impedisce il protrarsi di contenuti che superano le dimensioni */
}

.right-box,
.details-box {
	text-align: justify;
}

.left-box img {
   	width: 500px;
   	height: 450px;
    border-radius: 8px;
    object-fit: contain;
}

ul {
    text-decoration: none;
    text-transform: none;
    padding: 0;
    margin: 0;
    color: #000;
    cursor: pointer;
}

ul li {
    margin-left: 20px; 
    margin-bottom: 5px; /* Aggiunge spazio tra gli elementi della lista */
    
}

ul li a {
    color: #000; 
    text-decoration: underline;
}


.trailer-box {
 	text-align: center;
    background-color: rgba(237, 233, 233, 0.9);
    border-radius: 8px;
    margin-bottom: 40px;
    height: 350px; /* Altezza fissa per entrambi i box */
    box-sizing: border-box; /* Assicura che il padding non influenzi le dimensioni totali */
    overflow: hidden; /* Impedisce il protrarsi di contenuti che superano le dimensioni */
    display: flex; /* Utilizza flexbox per centrare il contenuto */
    justify-content: center; /* Centra orizzontalmente il contenuto */
    align-items: center; /* Centra verticalmente il contenuto */
}

.button:hover {
    background-color: #4a84ba;
}

.button {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color:#747171;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 30px;
    font-family: monospace;
    border: none; /* Rimuove la linea di contorno */
} 

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px; 
}
/*NAVBAR*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0%;
}

.generi-container {
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 10px 0%;
    
}
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #5f6162;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav_links a {
    color: white;
    
}




.logo {
    width: 10rem;
    cursor: pointer;
}

.nav_links {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    width: 100%;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transform: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #83c8f0;
}

.cta {
	position: relative;
	z-index:9999;
}



/* CSS DETTAGLI CARD ATTORE */
h3 {
    color: #e9e5e5;
    margin-top: 1rem;
    text-align: flex-end;
}

.film-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*overflow: auto;  abitilita scroll orizontale */
    background-color: rgba(10, 11, 14, 0.76); /*AGGIUNTO BACKGROUND*/
    border: 1px solid #67666699; /*AGGIUNTO BORDO*/
    border-radius: 10px; /*AGGIUNTO BORDO*/

}