* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

 body {
	/*background: url(/img/sfondo2.jpg) no-repeat;
	background-color: rgba(0, 0, 0, 0.9);
    font-family: monospace;*/
    background-color:#00171F;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1 {
    color: #fff;
    margin-bottom: 10px;
}

p {
    font-size: large;
   	color: #fff;
    margin-bottom: 5px;
}

h2 {
   color: #fff;
   margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 10px;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: rgba(10, 11, 14, 0.79);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid rgba(135, 136, 136, 0.526);
}

.portrait-details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.portrait-box,
.details-box {
	width: 500px;
   	height: 500px; 
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden; 
}

.details-box {
	text-align: justify;
}

ul {
    text-decoration: none;
    text-transform: none;
    padding: 0;
    margin: 0;
    color: #fff;
    cursor: pointer;
}

ul li {
    margin-left: 20px; /* Sposta il "puntino" della lista a destra */
    margin-bottom: 5px; /* Aggiunge spazio tra gli elementi della lista */
    
}

.linkFilm {
    color: #fff; 
    text-decoration: underline;
}

.fotoritratto img {
   	width: calc(100% - 40px);
   	height: 450px;
    padding-top: 5px; 
    padding-right: 20px; 
    padding-bottom: 20px; 
    padding-left: 20px; 
    border-radius: 8px;
    object-fit: contain;
}

.fotoritratto-img {
    transition: transform 0.3s ease;
}

.fotoritratto-img:hover {
    Scale: 1.5;   
}

.totalBody img {
	border-radius: 8px;
	object-fit: contain;
	width: 500px;
	height: 500px;
}

.button:hover {
    background-color: #4a84ba;
}

.button {
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color:#747171;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 30px;
    font-family: monospace;
    border: none; /* Rimuove la linea di contorno */
} 

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px; 
}

.full-image {
   	/*width: calc(100% - 40px);*/
   	width: auto;
    padding-top: 10px; 
    padding-right: 20px; 
    padding-bottom: 10px; 
    padding-left: 20px; 
    display: flex;
   	justify-content: center;
    background-color: rgba(0, 0, 0, 0);;
    border-radius: 8px;
}

/*NAVBAR*/
header {
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
    padding: 5px 0%;
    margin-top: 5px;
}


.generi-container {
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 10px 0%;
    margin-top: 5px;
    
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #5f6162;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav_links a {
    color: white;
    
}

.logo {
    width: 10rem;
    cursor: pointer;
}

.nav_links {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    width: 100%;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transform: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #83c8f0;
}

.cta {
	position: relative;
	z-index:9999;
}