* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

body {
	background: url(/img/sfondo2.jpg) no-repeat;
	background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 0;
    height: 100vh;
}

.titoloFilm {
	font-size: 2rem;
	font-weight: 600;
	color:  rgba(237, 233, 233, 0.9); 
}

p {
    font-size: 15px;
    color: rgba(237, 233, 233, 0.9); 
    margin-bottom: 10px;
}


.container {
	display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
	/*max-width: 1200px;
	margin: 0 auto;
	padding:20px;*/
}

.main-box {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(10, 11, 14, 0.79);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /*border: 1px solid rgba(135, 136, 136, 0.526); */
}





.left-box,
.right-box {
	width: 100%;
   	height: 100%; 
    padding: 20px;
    text-align: center;
    /*background-color: rgba(237, 233, 233, 0.9); 
    border-radius: 8px; */
    margin-bottom: 20px;
    height: 700px; /* Altezza fissa per entrambi i box */
    box-sizing: border-box; 
    overflow: hidden; 
    max-width: 900px; /* Imposta una larghezza massima */
}

.left-right-box {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height:100%;
}

.right-box {
	text-align: justify;
}

.left-box img {
    width: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.dettaglio-cast-box {
    width: 95%; /* Imposta la larghezza desiderata per i dettagli del cast */
    margin-top: 20px; /* Aggiunge spazio sopra i dettagli del cast */
}

.locandina {
	width: auto;
   	max-width: 600px;
   	height: auto;
   	max-height: 650px;
    border-radius: 8px;
    object-fit: contain;
}

.trailer-box {
 	display: flex;
 	justify-content: center; 
 	height: 100%; 
 	width: auto;
}


#player-container {
    justify-content: center; 
    margin-top: 30px; 
}



/*NAVBAR*/


.film-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*overflow: auto;  abitilita scroll orizontale */
    /*background-color: rgba(10, 11, 14, 0.76); AGGIUNTO BACKGROUND*/
    /*border: 1px solid #67666699; AGGIUNTO BORDO*/
    /*border-radius: 10px; AGGIUNTO BORDO*/

}

/* GESTIONE CARD */
h3 {
    font-weight: 600;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
    color: #e9e5e5;
    margin-top: 1rem;
    text-align: flex-end;
    padding: 5px;
    margin-bottom: auto;
}

h4 {
	color: #e9e5e5;
}

h5 {
	color: #83c8f0;
}

.card {
	background-color: rgba(10, 11, 14, 0.76); 
    height: 380px;
    width: 200px;
    /*border: 1px solid #9795955e; */
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.card img {
	margin: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 250px; /* Change to your desired fixed height */
    object-fit: cover; /* Ensure images maintain aspect ratio while filling the specified height */
    border-radius: 10px;
}

.card img:hover {
	transition: all 0.1s ease-in;
	object-fit: contain;
    scale: 1.1;
    padding: 5px;
    border-radius: 15px;   
}

.generi-container { 
	display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.cta {
	position: relative;
	z-index:9999;
}

.portfolio {
	transition: all 0.3s ease 0s;
	margin-bottom: -3rem;
}
