* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
     background-color: rgba(10, 11, 14, 0.76);
}
.ancorGenere {
	padding: 10px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 800;
	text-decoration: none;
	padding: 10px;
}

a {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 800;
	text-decoration: none;
	color: aliceblue;
	cursor: pointer;
}

a:hover {
	color:#66a1c1;
}


.divBtnNav {
	display: flex;
    justify-content: flex-end;
}

.btnNav {
	display: block;
	color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.771);
    border-radius: 25px;
    padding: 5px 20px;
    text-decoration: none;
    justify-content: right;
    margin-top: 5px;
    margin-left: 25px;
}

.btnNav:hover {
    background-color: #83c8f0;
    color: #564D4A;
    cursor: pointer;
}


.navbar-nav {
    margin-left: auto;
    align-items: right; /* Per allineare verticalmente gli elementi */
}


.container-fluid {
   background-color:rgba(36, 36, 36, 0);
}

.logoN {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.navbar-toggler {
	border: 1px solid rgb(99, 163, 194);
	background-color:rgba(52, 51, 51, 0.703);
	border-radius: 25px;
	padding: 5px 30px;
	font-size: 0.75rem;
}

/* .navbar-collapse {
    
    padding-left: 100%;
    padding-right: 0%;
} */

.navbar-collapse {
	flex-grow: 1;
}

.navbar-nav {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 500;
}

.linkGenere {
	display: block;
	margin-top: 5px;
}

.nav-item {
    display: flex;
	justify-content: space-between;
	margin-right: 10px; /* Aggiungi spazio tra gli elementi <li> */
	
}



