body {
    /*background-position: center;
    background: url(/img/sfondo2.jpg) no-repeat;
    background-size: cover;
  	justify-content: center;*/
	background-color:#00171F;
    /*min-height: 100vh;
    width: 100%; */
}

li,button  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 12px;
    color:#90C2E7;
    text-decoration: none;
    z-index: 9999;
}

.ancorGenere {
	color: aliceblue;
}
/* gestione navbar */
.hidden {
	display: none;
}


.logoF {
    max-width: 3rem;;
    cursor: pointer;
}


button {
    margin-left: 20px;
    padding: 10px 30px;
    background-color: #5f6162;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


button:hover {
    background-color:#90C2E7;
    color: #564D4A;
}

/* GESTIONE LINK PORTOFOLIO*/
.portfolio {
	transition: all 0.3s ease 0s;
}


.lastUsers{
	margin-left: 15px;
}


/* GESTIONE FLEX-BOX GENERE*/
h3 {
	font-weight: 600;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
    color: #e9e5e5;
    margin-top: 1rem;
    text-align: flex-end;
    padding: 5px;
}



.film-cards-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    /*overflow: auto;  abitilita scroll orizontale */
    /*background-color: rgba(10, 11, 14, 0.76); AGGIUNTO BACKGROUND*/
    /*border: 1px solid #67666699; AGGIUNTO BORDO*/
    border-radius: 10px; /*AGGIUNTO BORDO*/

}

/* GESTIONE CARD */
.card {
    background-color:rgba(22, 21, 21, 0);
    height: 450px;
    width: 200px;
    /*border: 1px solid #9795955e; 
    border-radius: 10px;*/
    margin: 10px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-color: #201f1f00;
    
    
}

.card img {
    /*max-width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 100%; */
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px; /* Change to your desired fixed height */
    object-fit: cover; /* Ensure images maintain aspect ratio while filling the specified height */
    border-radius: 10px;
}

.imgCard {
    width: 170px; /* Imposta la larghezza desiderata */
    height: 200px; /* Imposta l'altezza desiderata */
    margin-left: 10px;
}

p {
    font-size: 12px;
    color: #888787;
    margin-top: 0;
    padding: 0;
    text-align: flex-end;
}

.cta {
	position: relative;
	z-index:9999;
}

.cta-ancor {
    margin-top: auto;
    margin-bottom: 3rem;
}


.cta-ancor a {
	
    padding: 5px 40px;
   /* background-color: #83c8f091;
    bordergb(210, 210, 210)px solid #ccc; */
    text-decoration: none;
    color:#F7F4F3;
    border-radius: 20px;
    border: none;
    margin-bottom: 0;
    background-color: #5f6162;
   
    transition: all 0.3s ease 0s;
   
}

.cta-ancor a:hover {
	background-color: #90C2E7;
    color: #564D4A;
    
}


.generi-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/*NASCONDI PULSANTE TORNA SU*/
.torna-su-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    background-color:  #5f6162;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.torna-su-btn:hover {
    background-color:#90C2E7;
}
