@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

body {
    /*background: url(/img/sfondo.jpg) no-repeat;
    background-position: center;*/
    background: url(/img/sfondo2.jpg) no-repeat;
	background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
}

/* gestione navbar */
li, a, button {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    z-index: 9999;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0%;
}

.logo {
    width: 10rem;
    cursor: pointer;
}

.nav_links {
    list-style: none;
    
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transform: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #83c8f0;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #5f6162;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/*button:hover {
    background-color: #83c8f0;
}

.search-bar input[type="text"] {
    border-radius: 10px;
    
}*/

/* GESTIONE FLEX-BOX GENERE*/
h3 {
    color: #e9e5e5;
    margin-top: 1rem;
    padding: 20px;
    text-align: flex-end;
}

.film-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto; /* abitilita scroll orizontale */
}

/* GESTIONE CARD */
.card {
    background-color: rgba(10, 11, 14, 0.76);
    height: 380px;
    width: 200px;
    border: 1px solid #9795955e;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

p {
    font-size: 12px;
    color: #888787;
    margin-top: 0;
    padding: 0;
    text-align: flex-end;
}


.cta {
	 position: relative;
	z-index:9999;
}
.generi-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/*NASCONDI PULSANTE TORNA SU*/
.torna-su-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color:  #5f6162;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.torna-su-btn:hover {
    background-color: #0056b3;
}
