@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

body {
    background: url(/img/sfondo.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
}

/* gestione navbar */

li, a, button {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    z-index: 9999;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0%;
}

.logo {
    width: 10rem;
    cursor: pointer;
}

.nav_links {
    list-style: none;
    
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transform: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #83c8f0;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #5f6162;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/*button:hover {
    background-color: #83c8f0;
}

.search-bar input[type="text"] {
    border-radius: 10px;
    
}*/

/* GESTIONE FLEX-BOX GENERE*/
h3 {
    color: #e9e5e5;
    margin-top: 1rem;
    padding: 20px;
    text-align: flex-end;
}

.film-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto; /* abitilita scroll orizontale */
}

/* GESTIONE CARD */
.card {
    
    width: 200px;
    border: 1px solid #9795955e;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

p {
    font-size: 12px;
    color: #888787;
    margin-top: 0;
    padding: 0;
    text-align: flex-end;
}

/* GESTIONE FOOTER */ 
footer {
    /* position: relative; */
    padding: 2rem 0;
    background: var(--bg-color);
    width: auto;
    height: auto;
}
.footer .containerF {
    z-index: 10;
    position: relative;
    height: 50%;
    background-color: #242831;
}

.logo {
    max-width: 40vw;
    max-height: 40vw;
}

.footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    180deg,
    rgba(21, 31, 48, 0.35) 0%,
    var(--bg-color) 100%
    );
}

.footer-main {
    z-index: 2;
}

/* footer top */
.top-footer {
    display: flex;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

/* footer sinistra */
.footer-left {
    flex: 25%;
    margin-top: 4rem;
    padding: 0 1.5rem;
    height: 100%;
}


/* footer destra */
.footer-right {
    display: flex;
    margin-left: 11.2rem;
    margin-top: 4rem;
    height: 100%;
}

.footer-col {
    padding: 0 1.5rem;
    width: 10rem;
    height: 100%;
}

.footer-col:nth-child(2) {
    width: 38.4rem;
}

.footer__title {
    margin-bottom: 1.5rem;
    color: #fff;
    font-size: 1.5rem;
    font-family: var(--second-font);
}

.footer__nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 3rem;
    width: 19.2rem;
}

.footer__nav a {
    font-size: 1.4rem;
}

.footer__group {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(47, 128, 237, 0.1);
    margin-top: 16rem;
    height: 100px;
    padding: 0px;
    background-color: #ff0000;
}

.footer__copyright {
    font-size: 1.3rem;
}

.footer__links {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.4rem;
}
.cta {
	 position: relative;
	z-index:9999;
}