<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Area riservata</title>
	</head>
	<body>
		<h1 th:text="'Ciao ' + ${attore.nome}+ '!' " ></h1>
		<h2>Questa è la tua area riservata</h2>
		<a th:href="@{/}">Torna alla Home</a>
		<h3 th:text="${attore.nome} + ' questi sono i tuoi dati: '"></h3>
		<ul>
			<li th:text="'Nome: ' + ${attore.nome}"></li>
			<li th:text="'Cognome: ' + ${attore.cognome}"></li>
			<li th:text="'Data di Nascita: ' + ${attore.dataNascita}"></li>
			<li th:text="'Email: ' + ${attore.email}"></li>
		</ul>
		<!-- <a th:href="@{/ordini(id=${o.id})}" 
										class="btn btn-primary btn-sm" th:text="'Modifica i tuoi dati anagrafici'"></a> -->
		<h3>Questa è la foto ritratto che hai caricato</h3>
		<img th:src="${attore.ritratto}">
		<h3>Questa è la foto a figura intera che hai caricato</h3>
		<img th:src="${attore.foto}">
		<a th:href="@{areariservata/cancellaattore(id=${attore.id})}"
										class="btn btn-danger btn-sm" th:text="'Elimina la tua area riservata'"></a>
	</body>
</html>