<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Area riservata</title>
    <link rel="stylesheet" href="/css/areariservata.css">
    <link rel="stylesheet" href="/css/navbar.css">
   <link rel="stylesheet" href="/css/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    
</head>
<body class="areariservata">
    <!-- NAVBAR -->
    <header>    
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <img class="logoN" src="/img/LOGO.update.png" alt="logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav me-auto mb-2 mb-lg-0">
                        

                        <div th:each="genereFilms : ${filmPerGenere2}" class="linkGenere" >
                            <li class="nav-item">
                                <a th:href="@{/dettagliogenere(gen=${genereFilms.key})}" th:text="${genereFilms.key}"></a>
                            </li>
                        </div>

                        
	        				<a class="btnNav" th:href="@{/}">Home</a>
	    					

                        
                       
               
            </div>  
        </div>
        </nav>
</header>

    <!-- FINE NAVBAR -->

    <!-- DATI UTENTE -->

    <div class="container">
        <!-- sinistra -->
        <div class="sinistra">
            <div class="info-block">

                <h1 th:text="'Ciao ' + ${attore.nome} + '!'"></h1>
                <h2>Il tuo profilo</h2>  
                    <div class="data-block">        
                        <ul>       
                            <h3 th:text="${attore.nome} + ' questi sono i tuoi dati: '">I tuoi dati</h3>
                            <li th:text="'Nome: ' + ${attore.nome}"></li>
                            <li th:text="'Cognome: ' + ${attore.cognome}"></li> 
                            <li th:text="'Data di Nascita: ' + ${#temporals.format(attore.dataNascita, 'dd-MM-yyyy')}"></li>
                            <li th:text="'Email: ' + ${attore.email}"></li>
                        </ul>
                    </div> 
                <div class="delete">
                    <a th:href="@{areariservata/logout(id=${attore.id})}" class="btn btn-danger btn-sm" th:text="'Logout'" > Fai Logout!</a>
                    <a th:href="@{areariservata/cancellaaccount(id=${attore.id})}" class="btn btn-danger btn-sm" th:text="'Elimina Account'">Elimina Account</a>
                </div>
            </div>
        </div>

        <!-- FOTO -->
        <div class="destra">

            <div class="ritratto">
                <div class="img-block">
                    <!-- mostra user-icon se attore.ritratto è vuoto -->
                    <img class="user-icon" th:if="${attore.ritratto == null OR attore.ritratto == ''}" src="/casting/src/main/resources/static/img/No_immagine_disponibile.svg.png" alt="">
                    
                    <!-- mostra attore.ritratto se non è vuota -->
                    <img th:if="${attore.ritratto != null and attore.ritratto != ''}" th:src="${attore.ritratto}" alt="">
                </div>

                <div class="inputs">
                    <h3>La tua foto ritratto</h3>
                    <form action="" method="post" enctype="multipart/form-data">   
                        <label for="ritratto" th:text="'Primo piano:'"></label> 
                        <label class="custom-file-input" for="ritratto">Sfoglia<input type="file" id="ritratto" name="ritratto" accept="image/*" onchange="updateSubmitButton()"></label>
                        <input type="submit" class="btn btn-primary" value="Carica" id="submitBtn" disabled>
                    </form>
                </div>
            </div>
           
            <div class="intera">
                <div class="img-block">
                    <!--mostra user icon se attore.foto è vuota -->
                    <img class="user-icon" th:if="${attore.foto == null or attore.foto == ''}" src="../static/img/user_icon.png" alt="">
                    
                    <!-- mostra attore.foto se non è vuota -->
                    <img th:if="${attore.foto != null and attore.foto != ''}" th:src="${attore.foto}" alt="">
                </div>
                 
                <div class="inputs">
                    <h3>La tua foto a figura intera</h3>
            
                   <form th:object="${attore}" method="post" action="/areariservata/foto" enctype="multipart/form-data">   
                        <label for="foto" th:text="'Foto intera:'"></label>
                        <label class="custom-file-input" for="foto">Sfoglia<input type="file" id="foto" name="foto" accept="image/*" th:field="*{foto}" onchange="updateSubmitButton()"></label>
                        <input type="submit" class="btn btn-primary" value="Carica" id="submitBtn1" disabled>
                    </form>
                </div>
            </div>
                          
        </div>
    </div>
    
    <!-- !!! FOOTER !!!-->
           <footer class="footer">
                <div class="footer__addr">
                    <img class="logoF" src="/img/LOGO.update.png" alt="logoF">
                      
                    <h2>Contatti</h2>
                  
                    <address>
                    1010 Da Qualche Parte Nel Mondo 100100-11101<br>
                    </address>
                </div>
                
                <ul class="footer__nav">
                    
                  
                  <li class="footerNav__item footerNav__item--extra">                    
                    <ul class="footerNav__ul footerNav__ul--extra">
                        <li>
                            <a href="#">chi siamo</a>
                        </li>
                        
                        <li>
                            <a href="#">formazione</a>
                        </li>
                        
                        <li>
                            <a href="#">informativa sulla privacy</a>
                        </li>
                        
                        <li>
                            <a href="#">informazioni legali</a>
                        </li>
                        
                        <li>
                            <a href="#">contatta l'assistenza</a>
                        </li>
                        
                        <li>
                            <a href="#">academy</a>
                        </li>

                        <li>
                            <a href="#">workshop</a>
                        </li>
                    </ul>
                    </li>
                  
                  
                </ul>
                
                <div class="legal">
                    <p>Un giorno del 2024. Tutti i diritti riservati.</p>
                  
                    <div class="legal__links">
                        <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
                    </div>
                </div>
            </footer>
    
    <script>
    function updateSubmitButton() {
    	var ritrattoInput = document.getElementById('ritratto');
        var fotoInput = document.getElementById('foto');
        var submitButton = document.getElementById('submitBtn');
        var submitButton1 = document.getElementById('submitBtn1');
        
        submitButton.disabled = !ritrattoInput.files.length; // Disabilita il pulsante se non è stato selezionato alcun file
        submitButton1.disabled = !fotoInput.files.length;
    }

    function checkFile() {
        var ritrattoInput = document.getElementById('ritratto');
        var fotoInput = document.getElementById('foto');
        if (ritrattoInput.files.length === 0) {
            alert("Seleziona un'immagine prima di inviare il modulo.");
            return false; // Impedisce l'invio del modulo se non è stato selezionato alcun file
        }
        
        if (fotoInput.files.length === 0) {
            alert("Seleziona un'immagine prima di inviare il modulo.");
            return false; // Impedisce l'invio del modulo se non è stato selezionato alcun file
        }

        // Altrimenti, il modulo verrà inviato
        return true;
    }
</script>
</body>
</html>