<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio film</title>
    <link rel="stylesheet" href="dettagliofilm.css">
</head>
<body>
    <div class="container">
            <div class="button-container">
	            <form th:action="@{/}" method="get">
	                <button type="submit" class="button">Torna alla Home</button>
	            </form>
        	</div>
        </div>
        <div class="actor-details-box">
        	<h1>Scheda film</h1>
            <div class="actor-details">
                <p><strong>Titolo: </strong><span th:text="${film.titolo}"></span></p>
                <p><strong>Locandina: </strong></p> 
	        <img th:if="${film.locandina != null}" th:src="@{${film.locandina}}">
	        <p><strong>Trama: </strong><span th:text="${film.trama}"></span></p>
	        <p><strong>Data di uscita: </strong><span th:text="${film.dataUscita}"></span></p>
	        <p><strong>Genere: </strong><span th:text="${film.genere}"></span></p>
	        <p><strong>Trailer: </strong></p> 
			<iframe width="560" height="315" th:if="${film.trailer != null}" th:src="${film.trailer}"></iframe>

	        <h5><strong>Cast</strong></h5>
		    <ul th:each="a : ${cast}">
		    	<li>
		    		<a th:href="@{/dettaglioattore(id=${a.id})}" th:text="${a.nome} + ' ' + ${a.cognome}"></a>
		    	</li>
		    </ul>
		    </div> 
        </div>
</body>
</html>
