<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Dettaglio attore</title>
	</head>
	<body>
		<h1>Pagina attore</h1>
		<br>
        <p>Nome: <span th:text="${attore.nome}"></span></p>
        <p>Cognome: <span th:text="${attore.cognome}"></span></p>
        <p>Data di Nascita: <span th:text="${attore.dataNascita}"></span></p>
        <p>Email: <span th:text="${attore.email}"></span></p>
        <p>Foto ritratto: </p> 
        <img th:if="${attore.ritratto != null}" th:src="@{${attore.ritratto}}">
        <img th:if="${attore.ritratto == null}" th:src="@{img/No_immagine_disponibile.svg.png}">
        <p>Foto intera: </p> 
        <img th:if="${attore.foto != null}" th:src="@{${attore.foto}}">
        <img th:if="${attore.foto == null}" th:src="@{img/No_immagine_disponibile.svg.png}">
		<p>Elenco film in cui è presente attore: </p>
		<ul>
        <li th:each="film : ${film}">
        	<!-- inserire th:href= ... per la pagina dettaglioFilm -->
            <a th:text="${film.titolo}"></a>
        </li>
    </ul>
	</body>
</html>