<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CASTING</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/style.css">
        
        <link rel="stylesheet" href="/css/footer.css">
        
    </head>
    
    <body>
        <!-- GESTIONE NAVBAR -->
        <header>
            <img class="logo" src="/img/LOGO.update.png" alt="logo">
            <nav class="nav_links">
               
		    
            </nav>
            
         <!--   <div class="search-bar">
                <input type="text" id="movie-search" placeholder="Cerca film...">
                <button onclick="searchMovie()">Cerca</button>
            </div>-->  
            <div class="cta" th:if="${attorelog} == null">
			    <a th:href="@{/login}"><button>Accedi</button></a>
			 </div >
			 
			 <div class="cta" th:if="${attorelog} != null">
			    <a  th:href="@{/areariservata}"><button>Area riservata</button></a>
		    </div>   
            
        </header>
        
        <main>
           
           
            <div class="cta" th:each="genereFilms : ${filmPerGenere}">
            <a th:href="@{/dettagliogenere(gen=${genereFilms.key})}" th:text="${genereFilms.key}">           
            </a>
            <div class="film-cards-container">
            <div th:each="film, iterStat : ${genereFilms.value}" th:if="${iterStat.index &lt; 5}" >
                <div class="card">
                    <img th:src="${film.locandina}" th:alt="${film.titolo}">
                    <h3 th:text="${film.titolo}"></h3>
                    <div class="cta">
                    <a th:href="@{/dettagliofilm(id=${film.id})}">Vedi dettagli film</a>
                    </div>
                </div>

                </div>
                </div>
                </div>
                           
                            

           
        </main>

        
        
            <!-- !!! FOOTER !!!-->
           <footer class="footer">
                <div class="footer__addr">
                    <img class="logo" src="/img/LOGO.update.png" alt="logo">
                      
                    <h2>Contatti</h2>
                  
                    <address>
                    1010 Da Qualche Parte Nel Mondo 100100-11101<br>
                        
                    <a class="footer__btn" href="mailto:esempio@gmail.com">Contattaci!</a>
                    </address>
                </div>
                
                <ul class="footer__nav">
                    <li class="nav__item">
                        <h2 class="nav__title">Media</h2>
              
                        <ul class="nav__ul">
                            <li>
                                <a href="#">online</a>
                            </li>
                
                            <li>
                                <a href="#">stampa</a>
                            </li>
                            
                            <li>
                                <a href="#">alternative Ads</a>
                            </li>
                        </ul>
                  </li>
                  
                  <li class="nav__item nav__item--extra">
                    <h2 class="nav__title">ON ACT studio</h2>
                    
                    <ul class="nav__ul nav__ul--extra">
                        <li>
                            <a href="#">chi siamo</a>
                        </li>
                        
                        <li>
                            <a href="#">formazione</a>
                        </li>
                        
                        <li>
                            <a href="#">informativa sulla privacy</a>
                        </li>
                        
                        <li>
                            <a href="#">informazioni legali</a>
                        </li>
                        
                        <li>
                            <a href="#">contatta l'assistenza</a>
                        </li>
                        
                        <li>
                            <a href="#">academy</a>
                        </li>

                        <li>
                            <a href="#">workshop</a>
                        </li>
                    </ul>
                    </li>
                  
                  
                </ul>
                
                <div class="legal">
                    <p>Un giorno del 2024. Tutti i diritti riservati.</p>
                  
                    <div class="legal__links">
                        <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
                    </div>
                </div>
            </footer>
        
        <script src="/js/index.js"></script>
    </body>
</html>