<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CASTING</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- LINK BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    	<link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/carosello.css"> <!-- importare dopo bootstrap per evitare conflitti -->
   		<link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/footer.css">
       
    </head>
    
    <body>
        <!-- GESTIONE NAVBAR -->
   <header>    
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <img class="logoN" src="/img/LOGO.update.png" alt="logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav me-auto mb-2 mb-md-0">
                        

                        <div class="linkGenere" th:each="genereFilms : ${filmPerGenere}">
                            <li class="nav-item">
                                <a class="ancorGenere" th:href="@{/dettagliogenere(gen=${genereFilms.key})}" th:text="${genereFilms.key}"></a>
                            </li>
                        </div>

                        <div class="divBtnNav" th:if="${!attorelog}">
	        				<a class="btnNav" th:href="@{/login}">Accedi</a>
	    				</div>			

                        <div class="divBtnNav" th:if="${attorelog}">
                            <li class="nav-item">
                                <a class="btnNav" th:href="@{/areariservata}">Profilo</a>
                            </li>
                        </div>
                       
               </div>
            </div>  
        </div>
        </nav>
</header>
 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <!-- <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol> -->

            <div class="carousel-inner pippo">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/img/3.png" alt="agenzia casting">
                    <!-- <<div class="carousel-caption">
                            h5>"Creiamo storie indimenticabili, un volto alla volta."</h5>
                            <p class="d-none d-md-block">Benvenuti nell'arte del casting e nella magia della produzione cinematografica. Dai un'occhiata alle nostre ultime produzioni! Siamo sempre in cerca di talenti come il tuo!!! Avrai possibilità di formati e lavorare con grandi nomi del settore. Che aspetti?"</p>
                        </div> -->
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="/img/1.png" alt="ruolo aperto">
                    <!-- <div class="carousel-caption">
                            <h5>"Creiamo storie indimenticabili, un volto alla volta."</h5>
                            <p class="d-none d-md-block">Benvenuti nell'arte del casting e nella magia della produzione cinematografica. Dai un'occhiata alle nostre ultime produzioni! Siamo sempre in cerca di talenti come il tuo!!! Avrai possibilità di formati e lavorare con grandi nomi del settore. Che aspetti?"</p>
                        </div> -->
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="/img/2.png" alt="keanu reevs">
                    <!-- <div class="carousel-caption">
                            <h5>"LE PAROLE DI KEANU REEVS:"</h5>
                            <p class="d-none d-md-block">Per me la stampa è un universo parallelo. Non mi osservo mai attraverso le lenti del gossip. Per me conta molto di più il mio lavoro e i film nei quali recito.
                            <br>
                            [Tio.ch, 30 gennaio 2014]
                            </p>
                        </div> -->
                </div>

            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>


 </div>      
        
        <main>

        	<button id="tornaSuBtn" class="torna-su-btn" onclick="scrollToTop()">Torna su ↑</button>
 					<!-- ULTIMI ATTORI INSERITI -->
			 <h3>ULTIMI ATTORI ISCRITTI</h3>
			 <div class="film-cards-container">
            <div th:each="attore, iterStat : ${ultimiattori}" th:if="${iterStat.index &lt; 5}" >
                <div class="card">
                    <img class="imgCard" th:src="${attore.ritratto}" th:alt="${attore.nome} + ' ' + ${attore.cognome}">
                    <h3 th:text="${attore.nome} + ' ' + ${attore.cognome}"></h3>
                    <div class="cta">
                     <a class="portfolio" th:href="@{/dettaglioattore(id=${attore.id})}">vedi portfolio</a>
                    </div>
                </div>

                </div>
                </div>
        
           
 <!-- INIZIO ELENCO FILM PER GENERE -->   
            <div class="cta" th:each="genereFilms : ${filmPerGenere}">
            <a class="ancoraGenere" th:text="${genereFilms.key}" th:id="${genereFilms.key}">          
            </a>
            <div class="film-cards-container">
            <div th:each="film, iterStat : ${genereFilms.value}" th:if="${iterStat.index &lt; 5}" >
                <div class="card">
                    <img class="imgCard" th:src="${film.locandina}" th:alt="${film.titolo}">
                    <h3 th:text="${film.titolo}"></h3>
                    <div class="cta-ancor">
                    <a th:href="@{/dettagliofilm(id=${film.id})}">dettagli</a>
<!--  <a th:href="@{/dettagliofilm(id=${film.id})}"><button class="btn-details">dettagli</button></a>   -->                 
                    </div>
                </div>

                </div>
                </div>
                </div>
                           
                            

           
        </main>

        
        
            <!-- !!! FOOTER !!!-->
           <footer class="footer">
                <div class="footer__addr">
                    <img class="logoF" src="/img/LOGO.update.png" alt="logoF">
                      
                    <h2>Contatti</h2>
                  
                    <address>
                    1010 Da Qualche Parte Nel Mondo 100100-11101<br>
                    </address>
                </div>
                
                <ul class="footer__nav">
                    
                  
                  <li class="footerNav__item footerNav__item--extra">                    
                    <ul class="footerNav__ul footerNav__ul--extra">
                        <li>
                            <a href="#">chi siamo</a>
                        </li>
                        
                        <li>
                            <a href="#">formazione</a>
                        </li>
                        
                        <li>
                            <a href="#">informativa sulla privacy</a>
                        </li>
                        
                        <li>
                            <a href="#">informazioni legali</a>
                        </li>
                        
                        <li>
                            <a href="#">contatta l'assistenza</a>
                        </li>
                        
                        <li>
                            <a href="#">academy</a>
                        </li>

                        <li>
                            <a href="#">workshop</a>
                        </li>
                    </ul>
                    </li>
                  
                  
                </ul>
                
                <div class="legal">
                    <p>Un giorno del 2024. Tutti i diritti riservati.</p>
                  
                    <div class="legal__links">
                        <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
                    </div>
                </div>
            </footer>
        
        
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        
        	<script src="/js/index.js"></script>
    </body>
    </html>