<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/landing.css">
    </head>
    <body>
        <div class="slide">
            <div class="text-overlay">
                <section class="content">
                    <h1>ON ACT</h1>
                    <h3>studio</h3>
                </section>
                <a href="#" class="btn light">bottone che porta ai ruoli disponibili</a>
              
                <!--<a class="btn" href="#">ruoli disponibili</a> -->
            </div>
            <video controls loop muted autoplay>
                <source src="/img/landingpage.mp4" type="video/mp4">
            
                Your browser does not support the video tag.
            </video>       
        </div>

    </body>
</html>


