<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <!-- Form regisrazione -->
    <div class="container">
    	
        <div class="form-box">  
			
            <form action="" method="post" name="formfill" id="form"> <!-- collegamento JavaScript-->
                
                <h2>Accedi</h2> 	

                <div class="form-row email-wrapper"> <!--da replica x ogni campo-->
                    <div class="input-box">
                        <i class='bx bx-envelope'></i>
                        <input id="email" type="email" name="email" placeholder="Email">
                    </div>

                    <div class="messageA"></div>
                </div> 
                    
                <div class="form-row password-wrapper"> <!--replica-->
                    <div class="input-box">
                        <i class='bx bx-lock'></i>
                        <input id="password"  type="password" name="password" placeholder="Password">
                    </div>
                    
                    <div class="messageB"></div>
                </div>
        
                <div class="button">
                    <input type="submit" value="LOGIN">
                </div>

                <div class="group">
                    <!-- span per la password dimenticata qui? -->
                    <span><a th:href="@{/registrazione}">Non hai un account? Registrati</a></span>
                    
                </div>
				<div style="margin-top: 20px;">
                    <a th:href="@{/}" th:text="'Torna Alla Home'" style="color:white;"></a>
                </div>
            </form>
            
        </div>
    </div>
    
    <script src="../js/login.js"></script>
</body>
</html>
